.header {
    background-color: #09262b;
    padding:20px 0;
}
.logo {
    color: #0D9988;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav-list a {
    text-decoration: none;
    color: white;
}